.justify-left {
  justify-content: left !important;
  gap: 20px;
}

.profile-img {
  opacity: 1 !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.description {
  width: 100%;
  padding: 5% 10%;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.2); /* 아래쪽에만 그림자 효과 */
  text-align: center;
}

/* ------------------ 백프론트 설명 ------------------ */
.fb-graph {
  display: flex;
  justify-content: space-evenly;

  img {
    width: 400px !important;
  }

  .side-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

/* ------------------ 막대 그래프 ------------------ */
.legend {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 3% 5% 0 5%;
  color: gray;

  li {
    gap: 10px;
  }
}

.chart-container {
  display: flex;
  justify-content: space-evenly;
  color: gray;
  margin-top: 40px;

  li {
    height: 80px;
    margin: 10px 0;
    border-radius: 5px;
  }
}

.label {
  width: 15%;

  li {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

.bar-chart {
  width: 80%;
  color: white;

  li {
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 6px 0.5px rgba(0, 0, 0, 0.2);

    h2 {
      padding-left: 30px;
    }
  }
}

.black-80 {
  width: 80%;
  background: linear-gradient(
    to right,
    rgba(45, 45, 45, 1),
    rgba(45, 45, 45, 0.8)
  );
}

.green-80 {
  width: 80%;
  background: linear-gradient(
    to right,
    rgba(65, 184, 131, 1),
    rgba(0, 220, 130, 0.8)
  );
}
.red-40 {
  width: 40%;
  background: linear-gradient(
    to right,
    rgba(203, 71, 70, 1),
    rgba(203, 71, 70, 0.8)
  );
}
.yellow-60 {
  width: 60%;
  background: linear-gradient(
    to right,
    rgba(224, 176, 58, 1),
    rgba(224, 176, 58, 0.8)
  );
}
.blue-60 {
  width: 60%;
  background: linear-gradient(
    to right,
    rgb(106, 142, 183),
    rgba(106, 142, 183, 0.8)
  );
}
