.card {
  border: 1px solid #ccc;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 1 / 0.8; /* 너비와 높이를 5:4 설정 */
  border-radius: 10px;
}
