.footer {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: #cdcdcd;
  padding: 2vh 8vw;
  color: #808080;

  a:hover {
    color: #5d5d5d;
    transition: all 0.3s ease;
  }
}

.info {
  display: flex;
  align-items: center;
  min-width: 160px;
}

.menu {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    gap: 2vw;
  }
}
