.header {
  height: 12vh;
  min-height: 100px;
  padding: 0 10vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;

  .menu {
    display: flex;
    gap: 3vw;
  }

  &.drop {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s ease;
  }

  @media (min-width: 600px) {
    /* 화면 너비가 600px 이상일 때 갭 바꾸기 */
    .menu {
      gap: 5vw;
      transition: all 0.3s ease;
    }
  }

  a:hover {
    opacity: 50%;
    transition: all 0.3s ease;
  }

  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하일 때 갭 바꾸기 */
    img {
      width: 50px;
      height: auto;
    }

    .menu {
      gap: 2vw;
      transition: all 0.3s ease;
    }

    h4 {
      font-size: 0.8rem;
    }
  }

  a:hover {
    opacity: 50%;
    transition: all 0.3s ease;
  }
}

.fade-out {
  animation: fadeOut 1s ease-out 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
