.header {
  height: 12vh;
  min-height: 100px;
  padding: 0 10vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    gap: 3vw;
  }

  @media (min-width: 600px) {
    /* 화면 너비가 600px 이상일 때 갭 바꾸기 */
    .menu {
      gap: 5vw;
      transition: all 0.3s ease;
    }
  }

  a:hover {
    opacity: 50%;
    transition: all 0.3s ease;
  }
}
