.header {
  height: 12vh;
  min-height: 100px;
  padding: 0 10vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    gap: 5vw;
  }
}
