.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 8vw;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 4vw 8vw;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2); /* 아래쪽에만 그림자 효과 */
  gap: 20px;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    opacity: 0;
    gap: 10px;
    animation: slideInFromLeft 1s ease-out 1.5s forwards;
    transition: all 0.5s ease-in-out;

    h1 {
      font-size: max(3.5vw, 2rem);
      max-height: 87px;
      margin-bottom: 0.8rem;
      line-height: 1.2;
    }

    h3 {
      display: flex;
      justify-content: space-between;
    }

    .highlight {
      font-weight: bolder;
    }

    .between {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid lightgray;
      color: gray;
      padding: 0.5rem 0 1rem 0;
    }

    .summary {
      padding-top: 1rem;
    }
  }

  @media (max-width: 1210px) {
    /* 화면 너비가 500px 이하일 때 사라지게 */
    .info {
      flex-direction: column;
    }
    .text {
      width: 80%;
    }
  }

  @media (max-width: 800px) {
    /* 화면 너비가 500px 이하일 때 사라지게 */
    .info {
      flex-direction: column;
    }
    .text {
      width: 100%;
    }
  }

  .info-img {
    position: relative;
    width: 48%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInFromRight 1s ease-out 1.5s forwards;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
      min-height: 300px;
      max-height: 25vw;
      margin: 10%;
      object-fit: fit;
      border-radius: 10px;
    }
  }

  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하일 때 사라지게 */
    .text {
      width: 100%;
    }

    .info-img {
      width: 100%;
    }
  }
}

.etc {
  margin: 3% 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1%;
    width: auto;

    img {
      max-width: 40px;
      height: auto;
    }

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 2% 10%;
      border: 1px solid black;
      border-radius: 15px;
      transition: all 0.2s ease-in;
    }

    h4:hover {
      background-color: black;
      color: white;
    }
  }
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  gap: 8px;

  .logo {
    display: flex;
    justify-content: center;
  }

  img {
    width: auto;
    height: 40px;
  }

  /* 말풍선 적절한 top과 margin-left로 위치조정 */
  .arrow_box {
    display: none;
    position: absolute;
    padding: 10px;
    margin-top: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
  }

  .arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: " ";
  }

  img:hover + p.arrow_box {
    display: block;
  }
}

.content {
  width: 100%;
  min-height: 60vw;
  height: auto;
  padding: 0 10% 20% 10%;
  animation: slideInFromBottom 2s ease-out 1.7s forwards; /* 1초 동안 점차 불투명해지는 애니메이션 */
  transition: all 0.3s ease;
  opacity: 0;
  align-items: center;
}

.project-container {
  display: grid;
  gap: 40px;
  grid-auto-rows: 1fr;
  padding: 10% 5%;
  transition: 0.3s;
  /* 기본적으로 1개씩 배치 */
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  /* 화면 너비가 500px 이상일 때 2개씩 배치 */
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    max-height: calc(
      (70vw / 2) - 20px
    ); /* 1행으로 2개의 박스만 보여줄 높이 설정 */
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.left,
.right {
  position: fixed;
  top: 50%;
  z-index: 1;
  width: 118px;
  height: 118px;
  display: block;
  background-color: lightgray;
  border-radius: 100%;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }

  p {
    font-size: 3.5rem;
  }
}

.left {
  left: 0;
  transform: translateX(-50%);

  p {
    transform: translateX(50%);
    padding-left: 0.5rem;
  }
}
.right {
  right: 0;
  transform: translateX(50%);

  p {
    transform: translateX(-50%);
    padding-right: 0.5rem;
  }
}
